.root {
  transform-origin: top left;
  position: relative;
  width: 375px;
  height: 812px;
  align-items: flex-start;
  border-radius: 40px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 10px 40px 40px 0px #818af93b;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.helloPraveen {
  color: #3f3e3f;
  font-size: 24px;
  line-height: 150%;
  font-weight: 800;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 20px;
  top: 66.4067px;
  width: min-content;
  height: min-content;
  text-shadow: 0px 12.521552085876465px 11.649897575378418px #6154aa11, 0px 100px 80px #6154aa21;
  white-space: nowrap;
  flex-direction: column;
}
.iosStatusBarBlack {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 44px;
  align-items: flex-start;
}
.Time {
  background-image: linear-gradient(108.7deg, #171c24ff 0%, #28323fff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.165px;
  position: absolute;
  left: 19.8939px;
  top: calc(50% - -1px);
  width: 54px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.container {
  position: absolute;
  left: 293.5px;
  top: 17.16px;
  width: 67px;
  height: 11.5px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.shoppingBag {
  position: absolute;
  left: 336px;
  top: 72.4067px;
  width: 24px;
  height: 24px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.ellipse3911 {
  position: absolute;
  left: 351px;
  top: 68px;
  width: 13px;
  height: 13px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
._2 {
  color: #fff;
  font-size: 10px;
  line-height: 150%;
  font-weight: 800;
  font-family: Mplus 1p, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 354.6565px;
  top: 67.4067px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame3860 {
  position: absolute;
  left: 20px;
  top: 119.4067px;
  width: 336px;
  height: 184px;
  align-items: flex-start;
  border-radius: 14px;
  background-color: #818af9;
  overflow: hidden;
  box-shadow: 0px 12.5216px 10.0172px 0px #6154aa11;
}
.ellipse3915 {
  position: absolute;
  left: -62.5439px;
  top: -74.528px;
  width: 212px;
  height: 212px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.ellipse3916 {
  position: absolute;
  left: 180px;
  top: -12px;
  width: 278px;
  height: 278px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.hopeYouHaveAWonderfulDay {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  font-weight: 800;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 22px;
  top: 34px;
  width: 149px;
  height: min-content;
  flex-direction: column;
}
.frame3857 {
  position: absolute;
  left: 23.0945px;
  top: 114.7283px;
  width: 112.5499px;
  height: 16.2525px;
  place-content: center;
  align-items: center;
  padding: 10px;
  outline: solid 2px #ffffff1f;
  outline-offset: -2px;
  border-radius: 10px;
  background-color: #fff6;
}
.talkToACounselor {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: 90.247px;
  height: 13.579px;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.frame3858 {
  position: absolute;
  left: 24.5518px;
  top: 85.49px;
  width: 82.6092px;
  height: 14.8567px;
  place-content: center;
  align-items: center;
  padding: 10px;
  outline: solid 2px #ffffff1f;
  outline-offset: -2px;
  border-radius: 10px;
  background-color: #fff6;
}
.dailyJournal {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: 66.7477px;
  height: 19.6502px;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.bengalKittenIsolated2 {
  position: absolute;
  left: 139.966px;
  top: -11.9398px;
  width: 248px;
  height: 330px;
  background-image:/* webpackIgnore: true */ url('assets/bengalKittenIsolated2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ellipse3917 {
  position: absolute;
  left: 186px;
  top: 123px;
  width: 12px;
  height: 12px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.ellipse3918 {
  position: absolute;
  left: 267px;
  top: 20px;
  width: 7px;
  height: 7px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.ellipse3919 {
  position: absolute;
  left: 315.8403px;
  top: 139.3073px;
  width: 9px;
  height: 9px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.ellipse3921 {
  position: absolute;
  left: 213px;
  top: 170.5933px;
  width: 7px;
  height: 7px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.ellipse3920 {
  position: absolute;
  left: 306px;
  top: 123px;
  width: 4px;
  height: 4px;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.frame3859 {
  transform-origin: top left;
  position: absolute;
  left: 21px;
  top: 146.5933px;
  width: 186px;
  height: 17px;
  place-content: center;
  align-items: center;
  padding: 10px;
  outline: solid 2px #ffffff1f;
  outline-offset: -2px;
  border-radius: 10px;
  background-color: #fff6;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.chatWithACounselorAnonymously {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: 184px;
  height: 13px;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.frame3868 {
  position: absolute;
  left: 0;
  top: 736px;
  width: 375px;
  height: 76px;
  align-items: flex-start;
  border-radius: 45px 45px 0 0;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px -10px 30px 0px #00000008;
}
.user {
  position: absolute;
  left: 320px;
  top: 26px;
  width: 24px;
  height: 24px;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.messageCircle {
  position: absolute;
  left: 239px;
  top: 29px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.vector {
  position: absolute;
  left: 47.7333%;
  right: 47.4667%;
  top: 42.1053%;
  bottom: 34.2104%;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.home {
  position: absolute;
  left: 45px;
  top: 29px;
  width: 24px;
  height: 24px;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.rectangle3765 {
  position: absolute;
  left: 51px;
  top: 56px;
  width: 12px;
  height: 2px;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #818af9ff 0%, #656bb5ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.frame3864 {
  position: absolute;
  left: 12px;
  top: 327px;
  width: 358px;
  height: 40px;
  align-items: flex-start;
  gap: 10px;
}
.frame3862 {
  width: min-content;
  height: min-content;
  padding: 10px;
  border-radius: 10px;
  background-color: #f6f6f6;
}
.yourAppointments {
  color: #5c59595e;
  font-size: 12px;
  font-weight: bold;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame3861 {
  width: min-content;
  height: min-content;
  padding: 10px;
  border-radius: 10px;
  background-color: #f6f6f6;
}
.helpAFriend {
  color: #3f3e3f4d;
  font-size: 12px;
  font-weight: bold;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame3863 {
  width: min-content;
  height: min-content;
  padding: 10px;
  border-radius: 10px;
  background-color: #818af9;
}
.yourCounselor {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame38642 {
  position: absolute;
  left: 110px;
  top: 579.0001px;
  width: min-content;
  height: min-content;
  padding: 10px;
  border-radius: 10px;
  background-color: #818af9;
}
.changeYourCounselor {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame3866 {
  transform-origin: top left;
  position: absolute;
  left: 22px;
  top: 401px;
  width: 335px;
  height: min-content;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0px 2px 30px 0px #35385a1f;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.rectangle3764 {
  width: 88px;
  height: 103px;
  border-radius: 8px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle3764.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame38582 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.drWatson {
  color: #3f3e3f;
  font-size: 14px;
  font-weight: bold;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.generalHospitalPeradeniya {
  color: #000;
  font-size: 12px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame3865 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 7px;
}
.mapPin {
  width: 14px;
  height: 14px;
}
.icon14 {
  width: 100%;
  height: 100%;
}
._10km {
  color: #aca3a3;
  font-size: 12px;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame38583 {
  width: min-content;
  height: min-content;
}
.contact {
  color: #50cc98;
  font-size: 12px;
  font-weight: bold;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 146px;
  height: min-content;
  flex-direction: column;
}
